---
const params = ['Все', 'Ульяновск', 'Димитровград', 'Октябрьский'];
let activeParam = params[0];

const dealerships = [
	{
		name: 'АРМАДА-АВТО Урицкого',
		city: 'Ульяновск',
		address: 'ул. Урицкого, 39',
		phone: '+7 (8422) 42-55-37',
		worktime: 'ежедневно: 08.00 - 21.00',
		img: '/images/dlr_item1.png',
	},
	{
		name: 'АРМАДА-АВТО Ленинский',
		city: 'Ульяновск',
		address: 'ул. Ленина, 10',
		phone: '+7 (8422) 43-11-22',
		worktime: 'ежедневно: 08.00 - 21.00',
		img: '/images/dlr_item2.png',
	},
	{
		name: 'АРМАДА-АВТО Димитровград',
		city: 'Димитровград',
		address: 'пр. Победы, 5',
		phone: '+7 (84235) 5-55-55',
		worktime: 'ежедневно: 08.00 - 20.00',
		img: '/images/dlr_item1.png',
	},
	{
		name: 'АРМАДА-АВТО Октябрьский',
		city: 'Октябрьский',
		address: 'ул. Советская, 12',
		phone: '+7 (8422) 77-77-77',
		worktime: 'ежедневно: 09.00 - 20.00',
		img: '/images/dlr_item2.png',
	},
];
---


<section class="dealership container">
	<h2 class="h2">Найти автосалон</h2>
	<div class="params no-scrollbar">
		{params.map((param, index) => (
			<button type="button" class={param === activeParam ? 'active' : ''}>
				{index !== 0 && (
					<svg width="14" height="16">
						<use href="#geo"></use>
					</svg>
				)}
				{param}
			</button>
		))}
	</div>

	<div class="dealership-swiper swiper">
		<div class="swiper-wrapper">
			{dealerships.map(d => (
				<div class="dealership-card swiper-slide">
					<div class="img">
						<img src={d.img} alt="" loading="lazy">
					</div>
					<div class="info">
						<h3>{d.name}</h3>
						<p class="address">
							<svg width="14" height="16">
								<use href="#geo"></use>
							</svg>
							{d.address}</p>
						<p class="phone">{d.phone}</p>
						<p class="worktime">{d.worktime}</p>
						<a href="/" class="button red">Подробнее</a>
					</div>
				</div>
			))}
		</div>
		<button class="nav-el dlrPrev">
			<svg width="8" height="12">
				<use href="#right-arrow"></use>
			</svg>
		</button>
		<button class="nav-el dlrNext">
			<svg width="8" height="12">
				<use href="#right-arrow"></use>
			</svg>
		</button>
	</div>
</section>

<script src="../scripts/dealershipsSwiper.js"></script>


